.menu-container {
    background-color: rgb(255, 235, 145);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10%;
}

.menu-element {
    background-color: rgb(255, 214, 80);
    color: rgb(105, 53, 37);
    border: 0px solid #ffffff00;
    border-radius: 20px;
    align-items: center;
}